In [1]:
import pandas as pd

In [2]:
sample_data = {
    "weekdays": ["Sunday","Monday","Tuesday"],
    "test_score": [10,20,30]
}

In [3]:
df = pd.DataFrame(sample_data)

In [4]:
df

  weekdays  test_score
0   Sunday          10
1   Monday          20
2  Tuesday          30

In [5]:
df.loc[0]

weekdays      Sunday
test_score        10
Name: 0, dtype: object